#orderinfopage {
    background: url(/public/images/image2.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment:fixed; */
    width: 100%;
    min-height: 800px;
    margin: 0;
    padding: 100px 0;
    font-family: "Josefin Sans", sans-serif;
}


#orderbody {

    /* background-color: #ffffff74; */
    background-color: #cdcbcbba;
    max-width: 950px;
    margin: auto;
    padding: 30px 70px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

#orderslist {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-bottom: 15px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.748);

}