#categorybody {
    background-color: #22211f;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 800px;

}

#eachcard {

    /* border-color: white; */
    margin-bottom: 30px;
    margin-top:70px;
    height: 400px;
    width: 310px;
    text-align: center;
    background-color: #0F5132;
    box-shadow: 6px 6px 9px black;
    border-radius: 15px;
}

#subcategoryimgdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.75rem;
    border-top-right-radius: 150px;
    overflow: hidden;

}


#subcategoryimg {
    height: 100%;
    transition: all 0.3s ease-in-out;
}

#subcategoryimg:hover {
    transform: scale(1.1);
    /* Scale up the image slightly on hover */
}

#subcategoryname {
    color: white;
    position: relative;
    font-weight: 700;
    text-shadow: 0px 4px 3px black;
    top: 280px;

}

#buttons{
    position: relative;
    display: flex;
    justify-content: center;
}



#delete_butn, #edit_butn {
    /* margin-left: 65px; */
    border-radius: 10px;
    background-color: #0F5132;
    color: white;
    box-shadow: 0px 4px 3px black;
    margin-right: 10px;
    margin-left: 10px;
}