.gradient-custom {
    /* fallback for old browsers */
    background: #0F5132;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, #0F5132,#188e57);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left top, #0F5132, #18784b)
    }

.text_muted{
    color: rgb(181, 176, 176);
}

#social_media{
margin-right: 20px;
color: rgb(255, 255, 255);
}